.wrapper {
  position: relative;
  color: #000000;
  background-image: url("/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  /* overflow: hidden; */
  font-family: var(--font-family);

  .slogan {
    margin-top: 10px;
    color: #d6a652;
    text-align: center;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }
}

.fullWidth {
  width: 100%;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 50px;

  @media (max-width: 767px) {
    padding: 0 12px;
  }
}

.navbar {
  width: 100%;
  padding: 0 16px;
}

.navbarDesktop {
  padding: 10px 15px;
  background-color: #d6a652;
  width: 100%;

  @media (max-width: 900px) {
    display: none;
  }
}

.navbarItem {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  padding: 0 7px;
}

.phone {
  display: flex;
  align-items: center;
  color: #607d83;
  font-size: 24px;

  @media (max-width: 767px) {
    padding: 0;
    font-size: 22px;
  }
}

.phoneText {
  font-weight: 500;
  font-size: 20px;
  color: #607d83;

  @media (max-width: 1300px) {
    display: none;
  }
}

.logo {
  width: 200px;
  height: auto;

  @media (max-width: 767px) {
    width: 130px;
  }
}

.cartIcon {
  font-size: 33px;
  color: #d6a652;

  @media (max-width: 767px) {
    padding: 0;
    font-size: 22px;
  }
}

.cargoIcon {
  color: #d6a652;

  @media (max-width: 767px) {
    padding: 0;
    svg {
      width: 24px;
    }
  }
}

.rightIcons {
  gap: 12px;

  @media (max-width: 767px) {
    flex-direction: column;
    gap: 0;
  }
}

.navbarContainer {
  display: none;

  @media (max-width: 900px) {
    display: flex;
    overflow-x: auto;
    padding: 8px 0;
    background-color: #d6a652;
    scroll-padding-right: 16px;
    width: 100%;
    max-width: 100vw;
    scrollbar-width: none; /* Убираем скроллбар в Firefox */
    -ms-overflow-style: none; /* Убираем скроллбар в IE/Edge */
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
  }
}

.navbarContainer::-webkit-scrollbar {
  display: none; /* Убираем скроллбар в Chrome/Safari */
}

.navbar {
  flex-wrap: nowrap; /* Предотвращаем перенос элементов на новую строку */
}
