.page {
  --background: #ffffff;

  --text-primary: #607d83;
  --text-secondary: #e0d7c6;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  background-color: var(--foreground);
  padding: 60px;
  gap: 50px;
  margin: 0 auto;

  @media (max-width: 767px) {
    padding: 20px 16px;
  }
}

.banner {
  display: flex;
  border: 1px solid #607d83;
  border-radius: 32px;
  height: 300px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: #607d83;

  p {
    color: #fff;
  }

  h2 {
    color: #fff;
  }

  @media (max-width: 767px) {
    height: 180px;
  }
}

.categoryList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 250px;
  gap: 40px;
  align-self: start;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;

  @media (max-width: 1300px) {
    grid-template-columns: 60%;
    margin: 0;
    width: 100%;
    justify-content: center;
  }

  @media (max-width: 767px) {
    grid-template-columns: 100%;
  }
}

.categoryItem {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
  padding-right: 10px;
  border: 2px solid #d6a652;
  border-radius: 32px;
  overflow: hidden;

  img {
    width: 53%;
    height: 100%;
    object-fit: cover;
  }

  span {
    font-weight: 600;
    font-size: 18px;
  }
}
